.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.section--work {
    padding-top: 0;
}

.section.section--clients {
    padding-top: 98px;
    padding-bottom: 84px;
    margin-left: auto;
    margin-right: auto;

}
